# Python
*.pyc
*.pyo
*.pyd
__pycache__/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
local_settings.py

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Migrations
*/migrations/__pycache__/
*/migrations/*.py[cod]


# Coverage reports
htmlcov/
.coverage
.cache

# MyPy
.mypy_cache/
.dmypy.json

# Pytest
.pytest_cache/

